<p>
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <div class="spacer"></div>
  <a mat-button >products</a>
  <a mat-button>contact</a>
 <mat-icon>eCommerce</mat-icon>
  </button>
  <span>eCommerce</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>  
</mat-toolbar>
</p>
